/* css styles */

body {
    color:whitesmoke;
}

a {
    color:aquamarine;
}

.nav-footer a {
    color:aquamarine;
}

.sidebar-navigation a {
    color: lightgrey;
}

.quarto-title-breadcrumbs .breadcrumb li:last-of-type a {
    color:aquamarine;
}

.nav-page a {
    color: lightgray
}